#Calculator{
  border:1px solid;
  border-radius: 5px;
  width: 200px;
}
#display{
  margin:10px;
  width:85%;
  padding-top: 15%;
  font-size: smaller;
}
.buttonContainer{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.buttonCss{
  width: 50px;
  height:40px;
  margin:3px;
}